<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd2EgEZmUe_-ioG0jCeiok_Z_1Ayl1Utw</string>
	<key>GCM_SENDER_ID</key>
	<string>498061610472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eduapp-7cba3</string>
	<key>STORAGE_BUCKET</key>
	<string>eduapp-7cba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498061610472:ios:8067c77b5e3d3e30ca285d</string>
</dict>
</plist>